.body__spinner {
  position: fixed;
	z-index: 990;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
	color: @color-0;
	i {
		position: relative;
    font-size: 60px;
		top: calc(~"50% - 30px");
	}
}
.body__result {
  position: fixed;
	z-index: 990;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
  textarea {
    margin: 10vh 10vw;
    width: 80vw; height: 80vh;
    font-size: @font-size*0.8;
  }
}
