.body__spinner {
  position: fixed;
	z-index: 990;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
	color: @color-0;
	i {
		position: relative;
    font-size: 60px;
		top: calc(~"50% - 30px");
	}
}
