.checkbox {
	display: inline-block;
	vertical-align: middle;
	width: 1.2em;
	height: 1.2em;
	line-height: 1.2em;
	border: solid 1px @color-0;
	color: transparent;
	text-align: center;
	cursor: pointer;
	i {display: block;}
}
.checkbox--checked {
	color: @color-0;
}
