.input input {
  border: solid 1px @color-0;
}
.input--marked input {
  background-color: #ffe500;
}
.input--disabled {
  &, input {
    color: fadeout(@color-0, 50%);
  }
  .checkbox, input {
    border-color: fadeout(@color-0, 50%);
  }
}
